
.container {
    display: grid;
    grid-auto-flow: row dense; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 0.6fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 35px 35px; 
    grid-template-areas: 
      "categories categories categories categories categories categories"
      "questions questions questions questions questions questions"
      "questions questions questions questions questions questions"
      "questions questions questions questions questions questions"
      "questions questions questions questions questions questions"
      "players players players players players players"; 
}

.categories { 
    grid-area: categories; 
}

.questions {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . . . . ."
      ". . . . . ."
      ". . . . . ."
      ". . . . . ."
      ". . . . . ."
      ". . . . . ."; 
    grid-area: questions; 
}

.players { 
    grid-area: players;
}